/* imports : fontawesome */
@import "https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";

* {
    margin: 0;
    padding: 0;
}
body {
	padding: 0;
	margin: 0;
    background: #39D;
    width: 100%;
	height: 100%;
	overflow: hidden;
    font: 1rem Roboto, Arial, Helvetica, sans-serif;
}
/*  circle-menu container */
.circular-menu {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 500px;
    min-height: 500px;
    width: 100%;
    height: 100%;
    z-index: 3;
}
/* container of the inner circles */
.circle {
    min-width: 500px;
    width: 100%;
    height: 100%;
    min-height: 500px;
    opacity: 0;

    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);

    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.open.circle {
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}
/* positioning the circle links coming out of center circle*/
.circle a {
    font-size: 150%;
    text-decoration: none;
    color: #ececec;
    display: block;
    height: 200px;
    width: 200px;
    line-height: 200px;
    margin-left: -90px;
    margin-top: -90px;
    position: absolute;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /* designing circle*/
    border: solid rgba(187, 187, 187, 0.9);
    box-shadow: -3px 1px 3px #1b1b1b;
    background-color: #363642;
}
.circle-animation a {
    animation: pulsing 5s backwards infinite;
}
/* circle links behaviour when mouse on it*/
.circle a:hover {
    color: #27876f;
    background-color: #eef;
}
/* positioning the center circle*/
/* px value in 'calc' function helps in centering the circle */
.menu-button {
    position: absolute;
    top: calc(50% - 80px);
    left: calc(50% - 80px);
    text-decoration: none;
    text-align: center;
    color: #ececec;
    border-radius: 50%;
    display: block;
    height: 180px;
    width: 180px;
    line-height: 180px;
    /* designing circle*/
    border: solid rgba(187, 187, 187, 0.9);
    box-shadow: -3px 1px 3px #1b1b1b;
    background-color: #363642;
}
.menu-button-animation {
    animation: pulsing 3s ease-in-out infinite;
}
/* main circle link behaviour when mouse on it*/
.menu-button:hover {
    background-color: #e8e8f9;
    color: #7e0fdb;
}
/* main circle h1  styling */
.menu-button h1 {
    position: absolute;
    top: 40%;
    left: 20%;
    font: 2rem Arial, Tahoma, sans-serif;
    line-height: 2rem;
}
/* end region of center circle styling */

/* footer link */
h1.author {
    position: absolute;
    bottom: 0;
    left: 40%;
    text-align:center;
    color: rgb(12, 9, 9);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 2rem;
    z-index: 2;
}

h1.author a {
    color: #348;
    text-decoration:none;
}

h1.author a:hover {
    color: #ddd;
}
/* begin region Slider animation */
@keyframes slide {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}
/* slides global container */
#slider {
	padding: 0;
	margin: 0;
    width: 100%;
    height: 100%;
}
/* slides i.e images */
#slider .slider-view img {
    width: 20%;
    float: left;
	max-width: 100%;
	height: 100%;
	height: 100%;
}
/* slides i.e images container */
/* screen resolution = 1920*1080, should make
the images have this resolution for better rendering */
#slider .slider-view {
    position: relative;
    width: 500%;
    height: 100vh;
    /* height: 100vh; */
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slide infinite;
    z-index: 1;
}
/* end region Slider animation */

/* begin region of pulsing  animation */
@keyframes pulsing {

    0% {
        box-shadow: 0 0 0 0 rgba(255, 109, 74, 0.775), 0 0 0 0 rgba(255, 109, 74, 0.6);
    }
    40% {
        box-shadow: 0 0 0 200px rgba(93, 193, 240, 0), 0 0 0 0 rgba(255, 109, 74, 0.6);
    }
    /* 60% {
       box-shadow: 0 0 0 0 rgba(183, 23, 189, 0.733); /* big circle in the middle of animation*/
    /*}  */
    80% {
        box-shadow: 0 0 0 200px rgba(89, 178, 219, 0), 0 0 0 60px rgba(255, 109, 74, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(93, 193, 240, 0), 0 0 0 60px rgba(255, 109, 74, 0);
    }
}
/* end region of pulsing  animation */
